<ion-app>
  <!-- Move the ion-menu outside of ion-split-pane and place it directly in ion-app -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Inbox</ion-list-header>
        <ion-note>hi&#64;ionicframework. </ion-note>

        <ion-menu-toggle>
          <ion-item
            routerDirection="root"
            [routerLink]="['/home']"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              name="home-outline"
            ></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="isloggedOut">
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list lines="none">
        <ion-list-header>Account</ion-list-header>

        <ion-menu-toggle *ngIf="isLoggedIn" autoHide="false">
          <ion-item
            routerLink="/login"
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
          >
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="isloggedOut" autoHide="false">
          <ion-item
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
            (click)="Onlogout()"
          >
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item
            routerLink="/support"
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
          >
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>Support</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item
            routerLink="/signup"
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
            (click)="Onlogout()"
          >
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label>Signup</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item>
          <ion-toggle
            [(ngModel)]="paletteToggle"
            (ionChange)="toggleChange($event)"
            justify="space-between"
            >Dark Mode</ion-toggle
          >
        </ion-item>
      </ion-list>

      <ion-list lines="none">
        <ion-list-header>Tutorial</ion-list-header>
        <ion-menu-toggle autoHide="false">
          <ion-item button detail="false">
            <ion-icon slot="start" name="hammer"></ion-icon>
            <ion-label>Show Tutorial</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Header -->
  <ion-header
    *ngIf="isheader"
    [translucent]="true"
    style="position: fixed; top: 0; left: 0; right: 0; z-index: 10"
  >
    <ion-toolbar>
      <!-- Left menu button -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- Center title -->
      <ion-title style="text-align: center; font-weight: bold; font-size: 30px"
        >ASAP</ion-title
      >

      <!-- Right profile icon button -->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Main Content with Header and Router Outlet -->
  <ion-content style="padding-top: 56px; --overflow: hidden">
    <!-- Adjust padding to account for header height -->
    <ion-router-outlet id="main-content" style="height: calc(100% - 56px)">
      <!-- Ensure outlet fills remaining space below the header -->
    </ion-router-outlet>
  </ion-content>
</ion-app>

<!-- 
<ion-app  [class.ion-palette-dark]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Conference
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list  lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button  detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list  lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-toggle [(ngModel)]="dark" >
              Dark Mode
            </ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button  detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
 -->
